* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(8, 9, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#clock h2 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 0.9em;
    text-align: center;
    margin: 10px 0;
    /*position: relative;*/
    /*display: block;*/
}

#clock #time {
    display: flex;
}

#clock #time div {
    /*position: relative;*/
    margin: 0 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    /*below向下镜像，距离1px，全透明彩色渐变*/
}

#clock #time div span {
    /*position: relative;*/
    /*display: block;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 80px;
    background: rgb(44, 156, 238);
    color: #fff;
    font-weight: 100;
    font-size: 3em;
    /*z-index: 100;*/
    /*border: #1b5e20 solid 1px;*/
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .2);
    /*设置span的阴影边框，颜色，透明度*/
}

#clock #time div span:nth-child(2) {
    height: 30px;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    box-shadow: none;
    background: rgb(30, 131, 208);
    text-transform: uppercase;
}

#clock #time div:last-child span {
    background: rgb(232, 0, 104);
}

#clock #time div:last-child span:nth-child(2) {
    background: rgb(217, 0, 97);
}